* {
	box-sizing:border-box;
}

body {
	overflow-x:hidden;
}
.container {
	width:1170px;
	margin:auto;
}


.clearfix {
	clear:both;
}

.f-left {
	float:left;
}

.f-right {
	float:right;
}

button {
	outline:inherit;
	cursor:pointer;
}

input {
	outline:inherit;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:#FFF;
}