/* Main Rules */

body {
    font-family: 'Lato', sans-serif;
	overflow:hidden;
}


.loading {
    background: #222;
    color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.spinner {
    margin: auto;
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.spinner>div {
    background-color: #15a4fa;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}




/* Start Navbar */

.navbar {
    min-height: 66px;
    margin-bottom: 0;
}

.navbar-default {
    background-color:#f6f9f9;
    border:none;
}

/* End Navbar */

/* Start Banner */

.banner {
    background:url('../images/banner.png') no-repeat center center;
    background-size:cover;
    height:100vh;
}

.banner h1 {
    padding-top:15%;
    color:#FFF;
    font-size:80px;
    font-weight: bold;
    text-transform: uppercase;
}

.banner .seperator {
    width:40%;
    height:2px;
    background:#15a4fa;
}

.banner p {
    color:#FFF;
    font-weight: bold;
    margin-top:30px;
}

.banner button {
    margin-top:30px;
    border:2px solid #15a4fa;
    background:none;
    padding:15px 30px;
    color:#FFF;
    font-weight: bold;
    outline:inherit;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.banner button:hover {
    background:#15a4fa;
}

.banner i {
    color:#FFF;
    margin-top:60px;
    cursor: pointer;
    animation: down 1s infinite alternate;
}

@keyframes down {
    to {
        transform:translate(0,30px)
    }
}

@media (max-width:768px) {
    .banner h1 {
        padding-top:40%;
    }
    
    .features .feature {
    margin-bottom: 30px;
    }
}

/* End Banner */

/* Start Info */

.info {
    background:#f6f9f9;
    padding :20px 0;
}

.info h1 {
    font-weight: 700;
}

.info p {
    font-weight: 400;
    color:#999999;
    margin-top:20px;
}

/* End Info */

/* Start Features */

.features {
    padding:30px 0;
}

.features .feature h1 {
    font-weight: 700;
    font-size:25px;
}

.features .feature p {
    color:#999999;
    font-size:20px;
    font-weight: 400;
    margin-top:20px
}

/* End Features */

/* Start Portfolio */

.portfolio {
    background:#f6f9f9;
    padding:30px 0;
}

.portfolio h1 {
    margin-bottom: 30px;
    font-weight: 700;
}

@media (max-width:767px){
    h1 {
        font-size:25px;
    }
}
.portfolio .img-container {
    margin-bottom: 20px;
    position:relative;
    overflow:hidden;

}

.portfolio img {
        width:100%;
    height:100%;
}

.portfolio .overlay {
    width:100%;
    height:100%;
    left: 0;
    top:-260px;
    background:rgba(21,164,250,0.7);
    position:absolute;
    transition:all 0.5s ease-in-out;
    padding-top:100px;
}

.portfolio .img-container:hover .overlay {
    top:0;
}


.portfolio .overlay i {
    color: #FFF;
    padding: 10px;
    margin-left:20px;
    border: 2px solid #FFF;
    cursor: pointer;
}
/* End Portfolio */

/* Start Contact*/

.contact {
    padding-top:30px;
    padding-bottom: 30px;
    background:url('../images/bg.png') no-repeat center center fixed;
	background-size:cover;
}

.contact h1 {
    color:#FFF;
    font-weight: 700;
}

.contact h3 {
    color: #999999;
    font-weight: bold;
    margin-bottom: 30px;
}
.contact form {
    max-width:700px;
}
.contact .form-control {
    background:none;
    border:2px solid #999999;
    font-weight: bold;
    color:#FFF;
}

.contact textarea.form-control {
    min-height:300px;
}

.contact input[type="submit"]{
    padding:10px 40px;
    background:none;
    border:1px solid #15a4fa;
    color:#FFF;
    outline:inherit;
    transition:all 0.5s ease-in-out;
}

.contact input[type="submit"]:hover {
    background:#15a4fa;
}
.contact label {
    color:#FFF;
    margin-left:10px;
}
/* End Contact*/

/* Start Footer */

.footer {
    background: #f6f9f9;
    overflow:hidden;
    min-height: 70px;
}

.footer .copyright {
    color:#999999;
    font-weight: bold;
    line-height: 70px
}

.footer .social {
    
}
.footer .social li {
    display:inline;
    padding-left:10px;
}

.footer .social li a {
    text-decoration: none;
    color:#FFF;
}

.footer .social li a i {
    background:#15a4fa;
    padding:10px;
    border-radius:5px;
    margin-top: 16px;
}
/* End Footer */