@media (max-width:768px) and (max-width:992px) {
    .banner {
        padding-top: 70%;
    }
    .banner h1 {
        font-size: 30px;
    }
    .info {
        text-align: center;
    }
    .info .inf {
        margin-bottom: 30px;
    }
    .about {
        text-align: center;
    }
    .about .right {
        padding-left: 0;
        padding-top: 30px;
    }
    
    .about .skill {
        padding-top:20px;
        padding-bottom: 20px;
    }
    
    .skills,.education,.contact {
        text-align: center;
    }
    .contact .left {
        padding-right: 0;
    }
}
