body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

.top {
    position: fixed;
    color: #FFF;
    background: #2ecc71;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
}

.top i {
    position: absolute;
    top: -7px;
    left: 7px;
}

.loading {
    background: #222;
    color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.spinner {
    margin: auto;
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.spinner>div {
    background-color: #2ecc71;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* Start Banner */

.banner {
    height: 100vh;
    background: url('../images/slider.png') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
}

.banner h1 {
    color: #FFF;
    font-weight: bold;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    display: inline-block;
    font-size: 50px;
    position: relative;
}

.banner button {
    padding: 10px 30px;
    color: #FFF;
    background: none;
    border: 2px solid #FFF;
    outline: inherit;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

.banner button:hover {
    background: #FFF;
    color: #000;
}


/* End Banner */


/* Start Navbar */

.navbar-default {
    background-color: #252e30;
    border: none;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-brand {
    font-weight: bold;
    color: #FFF;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover {
    color: #FFF;
}

.navbar-default .navbar-brand span {
    color: #2ecc71;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #2ecc71;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: #FFF;
    font-size: 17px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2ecc71;
}


/* End Navbar*/


/* Start Info */

.info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.info h2 {
    color: #566366;
    font-weight: bold;
}

.info p {
    color: #919191;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5em;
    padding-right: 10px;
}


/* End Info */


/* Start About Me */

.about {
    background: #f2f2f1;
}

.about .right {
    padding: 70px 0 0 40px;
    position: relative;
}

.about .right h1,
.resume h1,
.education h1 {
    font-weight: bold;
    color: #566366;
    padding-bottom: 10px;
}

.about .right p,
.education .left p {
    color: #919191;
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.about .right h3 {
    display: inline;
    font-weight: bold;
    color: #566366;
    padding-bottom: 10px;
}

.about .right i {
    color: #2ecc71;
    float: left;
}


/* End About Me */


/* Start My Skills */

.skills,
.education {
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills .left h2,
.education .right h3 {
    font-weight: bold;
    color: #566366;
    padding-bottom: 20px;
}

.skills .left p,
.resume p {
    color: #919191;
    font-size: 18px;
}

.skills .left button,
.resume button {
    margin-top: 20px;
    background: none;
    color: #2ecc71;
    border: 2px solid #2ecc71;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    outline: inherit;
}

.skills .left button:hover,
.resume button:hover {
    background: #2ecc71;
    color: #FFF;
}

.skills .right {
    margin-top: 83px;
    padding-left: 20px;
}

.skills .right .progress-bar {
    background-color: #2ecc71;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding-right: 13px;
}

.skills .right span {
    font-weight: bold;
    color: #566366;
    font-size: 18px;
}

.progress {
    height: 30px;
}


/* End My Skills*/


/* Start Resume*/

.resume {
    background: #f2f2f1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.arrow {
    width: 40px;
    height: 40px;
    background: #f2f2f1;
    margin: auto;
    display: block;
    transform: rotate(45deg);
    margin-top: -20px;
    z-index: -999999;
}


/* End Resume */


/* Start Education */

.education .seperator {
    height: 1px;
    max-width: 100%;
    background: #cccccc;
}

.education .right {
    margin-top: 90px;
}

.education .right span {
    background: #2ecc71;
    color: #FFF;
    font-weight: bold;
    padding: 8px;
}

.education hr {
    border-top: 1px solid #ccc;
}

.education .right p {
    color: #919191;
    font-size: 17px;
}

.education .right h3:last-of-type,
.education .right h3:nth-of-type(2) {
    margin-top: 50px;
}

.education .container>hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.education .right h3 {
    padding-bottom: 10
}


/* End Experience */


/* Start Testimonials (Carousel) */

.testimonials {
    background: #f2f2f1;
    padding-top: 50px;
    padding-bottom: 66px;
}

.testimonials .carousel-indicators {
    bottom: -45px;
}

.carousel-indicators li {
    border: 2px solid #2ecc71;
    width: 15px;
    height: 15px;
    margin: 0;
}

.testimonials .carousel-indicators li.active {
    width: 15px;
    height: 15px;
    background-color: #2ecc71;
    border: 2px solid #2ecc71;
}

.testimonials .carousel-inner .lead {
    color: #919191;
}

.testimonials .carousel-inner span {
    font-weight: bold;
    color: #566366;
}


/* End Testimonials */


/* Start Portfolio */

.portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
}

.portfolio h1 {
    color: #566366;
    padding-bottom: 30px;
    font-weight: bold;
}

.portfolio p {
    color: #919191;
    font-size: 18px;
    margin-bottom: 30px;
}

.portfolio .img-container {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.portfolio .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: -300px;
    background: rgba(46, 204, 113, 0.7);
    position: absolute;
    transition: all 0.5s ease-in-out;
    padding-top: 100px;
}

.portfolio .img-container:hover .overlay {
    top: 0;
}

.portfolio .overlay i {
    color: #FFF;
    padding: 10px;
    margin-left: 4px;
    margin-top: 16px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.portfolio .img-responsive {
    margin: auto;
}


/* End Portfolio */


/* Start Contact */

.contact {
    background: #252e30;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact .left {
    padding-right: 100px;
}

.contact .left h1 {
    color: #FFF;
    font-weight: bold;
}

.contact .left p {
    padding-top: 20px;
    color: #919191;
    font-size: 15px;
}

.contact .left label {
    color: #919191;
}

.contact .left label:first-of-type {
    margin-top: 18px;
}

.contact .left label span {
    color: #FFF;
}

.contact .right {
    padding-top: 53px;
}

.contact .right label {
    color: #FFF;
}

.contact .right label span {
    color: #919191;
}

.contact .right input,
.contact .right textarea {
    background: #4b5456;
    border: 0;
    border-radius: 0;
    color: #FFF;
    font-weight: bold;
}

.contact .right input,
.contact .right textarea {
    outline: none;
    box-shadow: none !important;
}

.contact .right textarea {
    min-width: 100%;
    min-height: 300px;
    resize: vertical;
}

.contact .right input[type="submit"] {
    padding: 10px 30px;
    background: #191f21;
    outline: inherit;
}


/* End Contact */


/* Start Footer */

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #191f21;
}

.footer span {
    color: #4b5456;
    font-weight: bold;
}

.footer ul {
    margin-top: 30px;
}

.footer ul li {
    width: 50px;
    height: 50px;
    background: #4b5456;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.footer ul li:hover a {
    color: #FFF;
}

.footer ul li a {
    text-decoration: none;
    color: #191f21;
    transition: all 0.5s ease-in-out;
}

.footer ul li i {
    line-height: 50px;
}


/* End Footer */
