.container {
    width: 1200px;
    margin: auto;
}

.greeline {
    background-color: #2ecc71;
    height: 10px;
}

.header {
    height: 600px;
    background-image: url('../images/header.png');
    color: white;
    overflow: hidden;
    position: relative;
}

.header .headerContent {
    margin-top: 166px;
    margin-left: 323px;
}

.header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.header p {
    font-family: 'Lato', sans-serif;
    font-size: 20px
}

.header i {
    color: rgba(255, 255, 255, 0.3);
    transition:all 0.5s ease-in-out;
    position:relative;
    left:5px;
}

.header .iContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    margin-right: 20px;
}

.header .iContainer:hover {
    background-color: #2ecc71;
    color: #FFF;
    cursor: pointer;
}
.header .iContainer:hover i{
    color:#FFF;
}
.features {
    height: 335px;
    overflow: hidden;
}

.features .feature {
    float: left;
    width: 33.33333%;
    text-align: center;
    margin-top: 60px;
}

.features .feature i {
    color: #FFF;
    background-color: #2ecc71;
    border-radius: 50%;
    padding: 20px
}

.features .feature h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.features .feature p {
    color: #848484;
    font-family: 'Lato', sans-serif;
}

.subscribe {
    height: 430px;
    background-color: #e3e3e3;
}

.subscribe .email,
.subscribe .video {
    float: left;
    width: 50%;
}

.subscribe .email {
    margin-top: 50px;
}

.subscribe .email h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.subscribe .email p {
    color: #848484;
    font-family: 'Lato', sans-serif;
    max-width: 500px;
    line-height: 30px
}

.subscribe .email input[type="email"] {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 20px 0 0 20px;
    width: 300px;
    height: 55px;
    padding: 10px;
    outline: inherit;
    font-size: 20px;
    border: none;
}

.subscribe .email input[type="submit"] {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    height: 55px;
    width: 100px;
    outline: inherit;
    border: none;
    background-color: #2ecc71;
    color: #FFF;
    cursor: pointer;
    position: absolute;
}

.subscribe .video img {
    margin-top: 70px
}

.testimonials {
    height: 350px;
    text-align: center;
}

.testimonials p {
    margin-top: 50px;
    color: #848484;
    font-family: 'Lato', sans-serif;
}

.testimonials h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.testimonials .square {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #2ecc71;
}

.testimonials .square:hover {
    background-color: #2ecc71;
    cursor: pointer;
}

.active {
    background-color: #2ecc71;
}

.testimonials h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.testimonials i {
    color: #FFF;
    position: relative;
    top: 8px;
}

.testimonials .iContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #d4d4d4;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.testimonials .iContainer:hover {
    background-color: #2ecc71;
}

.footer {
    height: 130px;
    background-color: #31383e;
    color: #FFF;
    text-align: center;
}

.footer ul {
    list-style: none;
    margin-top: 40px;
}

.footer ul li {
    font-family: 'Raleway', sans-serif;
    display: inline;
    padding: 20px;
    text-align: center;
    color: #FFF;
    top: 50px;
    position: relative;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    color: yellow;
}

.footer span {
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 60px;
    font-weight: bold;
}
