/* Start Main Rules */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #f6f7fa
}

.container {
    width: 1200px;
    margin: auto;
}

.clearfix {
    clear: both;
}

button {
    outline: inherit;
    cursor: pointer;
}

/* End Main Rules */


/* Start Header */

.header {
    height: 1100px;
    background: url("../images/Graph.png") no-repeat center;
}

.header .logo {
    float: left;
    width: 50%;
    padding: 20px
}

.header .navbar {
    float: left;
}

.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    float: left;
    padding: 30px 20px;
    font-weight: bold;
}

.header .navbar ul li a {
    text-decoration: none;
    color: #FFF;
}

.header .navbar ul li button {
    background-color: transparent;
    color: #5584ff;
    padding: 8px;
    border: 2px solid #233a72;
    border-radius: 20px;
    width: 100px;
    position: absolute;
    top: 35px;
    transition: all 0.5s ease-in-out;
}

.header .navbar ul li button:hover {
    background-color: #5584ff;
    color: #FFF;
    border-color: transparent;
}

.header .slider {
    margin-top: 150px;
}

.header .slider h1 {
    text-align: center;
    color: #FFF;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 10px;
}

.header .slider h2 {
    text-align: center;
    color: #8492af;
    font-weight: bold;
}

.header .slider button {
    display: block;
    margin: 30px auto;
    background-color: #5584ff;
    border: none;
    color: #FFF;
    font-weight: bold;
    width: 180px;
    padding: 20px;
    border-radius: 30px;
}

.header .slider img {
    display: block;
    margin: 50px auto;
}


/* End Header */


/* Start Features */

.features {
    height: 410px;
}

.features .feature {
    float: left;
    width: 33.3333333%;
    text-align: center;
    margin-top: 150px
}

.features .feature h2 {
    margin-top: 20;
    padding: 0;
}

.features .feature p {
    padding-right: 20px;
    color: #8492af;
    font-weight: bold;
    line-height: 25px;
}

.features .feature i {
    color: #5284ff;
    font-weight: bold;
}

.features .feature button {
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid #dadee7;
    padding: 15px;
    width: 200px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.features .feature button:hover {
    border: 2px solid transparent;
    background-color: #5584ff;
    color: #fff;
}


/* End Features */


/* Start all you need */

.all {
    height: 700px;
}

.all .container {
    margin-top: 200px
}

.all .left {
    float: left;
    width: 40%;
}

.all .left h1 {
    font-weight: 300;
    font-size: 40px;
}

.all .left p {
    color: #8492af;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

.all .left h3:first-of-type {
    margin-top: 30px;
}

.all .left i {
    color: #5584ff;
    padding: 3px;
    border: 2px solid #5584ff;
    border-radius: 50%;
}

.all .left span {
    margin-left: 10px;
    color: #5584ff;
}

.all .right {
    float: left;
    width: 60%;
}


/* End all */


/* start drag */

.drag {
    height: 600px;
    background: url("../images/Graph.png") no-repeat center;
    background-position: 58% 20%;
    background-attachment: fixed;
}

.drag .left {
    width: 60%;
    float: left;
}

.drag .left span {
    color: #8492af;
    margin-left: 10px;
}

.drag .left .left-one h2 i {
    float: right;
    color: #8492af;
}

.drag .left .left-one,
.drag .left .left-two {
    width: 45%;
    margin-top: 150px;
    float: left;
}

.drag .left h2 {
    color: #FFF;
}

.drag .left .left-one .in,
.drag .left .left-two .com {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    transition: all 1s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px
}

.drag .left .left-one .in:hover {
    transform: translate(40px, 0);
    position: relative;
}

.drag .left .left-one .in h2,
.drag .left .left-two .com h2 {
    background-color: #5584ff;
    display: inline;
    padding: 10px 15px;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
}

.drag .left .left-one .in .info,
.drag .left .left-two .com .info {
    float: left;
}

.drag .left .left-one .in .info h3,
.drag .left .left-two .com .info h3 {
    margin: 20px 20px 5px 20px;
}

.drag .left .left-one .in .info i,
.drag .left .left-two .com .info i {
    margin-left: 10px;
}

.drag .left .left-one .in .info h5,
.drag .left .left-two .com .info h5 {
    display: inline;
    margin-left: 5px;
}

.drag .left .left-one .in>i,
.drag .left .left-two .com>i {
    float: right;
    margin: 30px 20px 0;
    color: #8492af;
}

.drag .left .left-two {
    margin-left: 50px;
}

.drag .left .left-two .drop {
    text-align: center;
    color: #8492af;
    width: 100%;
    height: 100px;
    border: dotted 2px #8492af;
}

.drag .left .left-two .drop h3 {
    margin-top: 33px;
}

.drag .right {
    float: left;
    margin: 208px 0 0 100px;
    color: #FFF;
}

.drag .right h1 {
    margin: 0;
    padding: 0;
    color: #8492af;
    font-size: 50px;
    font-weight: 100;
}

.drag .right p {
    max-width: 320px;
    color: #8492af;
    line-height: 30px;
}

.drag .right i {
    border: 2px solid #8492af;
    color: #8492af;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 300;
    cursor: pointer;
}


/* End drag */


/* Start Powerfull */

.powerfull {
    height: 1000px;
    overflow: hidden;
}

.powerfull h1 {
    margin-top: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

.powerfull p {
    text-align: center;
    font-weight: bold;
    color: #8492af;
    line-height: 30px;
}

.powerfull img {
    margin-top: 50px;
}

.powerfull .info1 {
    position: relative;
    top: -700px
}

.powerfull .info1 h2,
.powerfull .info2 h2 {
    font-size: 20px;
}

.powerfull .info1 p,
.powerfull .info2 p {
    width: 200px;
    font-weight: 300;
}

.powerfull .info2 {
    position: relative;
    top: -440px;
    left: 1000px;
}


/* End Powerfull */


/* Start Pricing */

.pricing {
    height: 1000px;
    overflow: hidden;
}

.pricing h1 {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.pricing .plan {
    width: 360px;
    height: 420px;
    float: left;
    box-shadow: 0px 0px 20px 8px rgba(158, 157, 153, 0.3);
    margin: 20px;
    border-radius: 20px;
    transition: all 2s ease-in-out;
}

.pricing .plan:hover {
    transform: scale(1.2) rotateY(360deg);
    
}

.pricing .plan h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px
}

.pricing .plan h3 {
    text-align: center;
    font-size: 50px;
}

.pricing .plan h3 span {
    font-size: 20px;
    color: #8492af;
    font-weight: 300;
}

.pricing .plan i {
    margin-left: 60px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #5284ff;
}

.pricing .plan label {
    font-weight: bold;
    color: #8492af;
    margin-left: 10px;
    position: relative;
    top: -6px;
}

.dollarsign {
    color: #000;
    font-weight: bold;
}

.pricing p {
    text-align: center;
    font-weight: bold;
    color: #8492af;
    margin-top: 70px;
    line-height: 35px;
}

.pricing button {
    display: block;
    margin: auto;
    background-color: #5584ff;
    padding: 13px 60px;
    margin-top: 35px;
    color: #FFF;
    border: none;
    border-radius: 20px;
}


/* End Pricing */
/* Start Contact Us */
.contact{
    height:500px;
    background: url("../images/Graph.png") no-repeat center fixed;
    overflow:hidden;
}
.contact h1 {
    font-weight: 300;
    color:#FFF;
    margin-top:50px;
}
/* End Contact Us */

/* Start Footer */

.footer {
    overflow: hidden;
    background-color: #333;
}
.footer h4 {
    color: #8492af;
    float: left;
    padding: 50px 0 50px 0;
}

.footer ul {
    float: right;
    list-style: none;
    padding: 50px 0 50px 0;
}

.footer ul li {
    display: inline;
    padding: 30px;
}

.footer ul li i {
    color: #8492af;
    padding: 5px !important;
}

.footer ul li a {
    color: #8492af;
    text-decoration: none;
    font-weight: bold;
}
/* End Footer */