/* Start Main Rules */

* {
    box-sizing: border-box;
}

body {
    overflow-X: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.clearfix {
    clear: both;
}

button {
    outline: inherit;
    cursor: pointer;
}

.toTop {
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #CCC;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.toTop i {
    position: relative;
    bottom: 11px;
}

.seperator i {
    position: relative;
    top: 16px;
    margin: 0 30px;
}

.seperator span {
    font-size: 40px;
    color: #d2d7dd;
}


/* End Main Rules */


/* Start Header */

.header {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: url('../image/header.png');
    background-size: cover;
    overflow: hidden;
}

.header i {
    margin-top: 50px;
    cursor: pointer;
}
.header .navbar {
    overflow:hidden;
    position:relative;
}
.header .navbar ul {
    list-style: none;
    margin:0;
    float:right;
    position:relative;
    top:55px;
    right:-620px;
    text-align: center;
}
.header .navbar ul li {
    float:left;
    padding-left:50px;
}
.header .navbar ul li a {
    text-decoration: none;
    color:#000;
}
.header h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 20px;
    font-size: 50px;
    margin-top: 150px;
}

.header h1 span,
.header h3 {
    color: #a1a9b0;
}

.header h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -20px;
    letter-spacing: 5px;
    font-weight: 300;
}

.header button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: none;
    background: #3dc9b3;
    display: block;
    margin: auto;
    padding: 10px 20px;
    margin-top: 30px;
    color: #FFF;
    font-weight: bold;
    box-shadow: 0px 4px #309383;
    border-radius: 5px;
    position: relative;
    transition: all 0.5 ease-in-out;
}

.header button:active {
    box-shadow: 0px 0px;
    top: 4px;
}


/* End Header */

.intro {
    height: 600px;
    background: #f3f5f8;
    overflow: hidden;
    text-align: center;
}

.intro h1 {
    margin-top: 40px;
    font-weight: 500;
    letter-spacing: 10px;
}

.intro>p {
    text-align: center;
    display: block;
    margin: 100px auto;
    color: #8c9398;
    max-width: 800px;
    line-height: 40px;
}

.intro>p span {
    font-weight: bold;
    color: #000;
}


/* End Intro */


/* Start Features */

.features {
    overflow: hidden;
    height: 730px;
    text-align: center;
}

.features h1,
.portfolio .project h2 {
    margin-top: 50px;
    font-weight: 300;
    text-transform: capitalize;
}

.features .feature {
    float: left;
    width: 33.3333333%;
    margin-top: 80px;
}

.features .feature span,
.portfolio .project span,
.team .member span {
    display: block;
    margin: 30px auto;
    width: 50px;
    height: 5px;
    background: #3dc9b3;
}

.features .feature p,
.portfolio .project p,
.team .member p {
    padding: 20px;
    color: #8c9398;
}


/* End Features */


/* Start Responsive */

.responsive {
    overflow: hidden;
    position: relative;
}

.responsive .left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.responsive .right {
    float: left;
    width: 50%;
    text-align: center;
}

.responsive .right h1 {
    text-align: center;
    margin-top: 80px;
    font-weight: 300;
    font-size: 30px;
    text-transform: capitalize;
}

.responsive .right .seperator i {
    margin: 0 20px;
}

.responsive .right .seperator span {
    font-size: 30px;
}

.responsive .right p {
    text-align: left;
    margin: 40px 0 0 50px;
    color: #8c9398;
}

.slider {
    text-align: center;
}

.slider span {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #c9cbca;
    cursor: pointer;
    margin: 100px 5px;
}

.sliderActive {
    background-color: #000;
}


/* End Responsive */


/* Start GotProblem */

.gotProb {
    height: 300px;
    background: url('../image/problem.png') fixed 0 35%;
    background-size: cover;
    overflow: hidden;
    color: #FFF;
    text-align: center;
}

.gotProb h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 20px;
    margin-top: 60px;
}

.gotProb h2 {
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px
}

.gotProb span {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #3dc9b3;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 15px;
}

.gotProb span i {
    position: relative;
    top: 8px;
}


/* End GotProblem */


/* Start Portfolio */

.portfolio {
    height: 750px;
}

.portfolio .project {
    float: left;
    width: 33.3333333%;
    text-align: center;
    overflow: hidden;
    margin: auto
}

.portfolio .project .imgContainer {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 80px;
    width: 360px;
    height: 200px;
    display: block;
    margin: 80px auto;
}

.portfolio .project .imgContainer .overlay {
    position: absolute;
    background-color: rgba(61, 201, 179, 0.7);
    top: -200px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.portfolio .project .imgContainer .overlay i {
    color: #FFF;
    margin-top: 50px;
}

.portfolio .project .imgContainer .overlay h2 {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}

.portfolio .project .imgContainer:hover .overlay {
    top: 0;
}


/* End Portfolio */


/* Start Ignite */

.ignite {
    background: #242830;
    position: relative;
    overflow: hidden;
}

.ignite button {
    position: absolute;
    background: none;
    border: 2px solid #FFF;
    color: #FFF;
    padding: 25px 50px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 50px auto;
    transition: all 0.5s ease-in-out;
    letter-spacing: 5px
}

.ignite button:hover {
    background: #FFF;
    color: #242830;
}


/* End Ignite */


/* Start Team */

.team {
    height: 920px;
    text-align: center;
    overflow: hidden;
}

.team h1,
.contact h1 {
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 50px;
}
.team h2 {
    font-weight: 500;
}
.team .member {
    float: left;
    width: 33.333333%;
    margin-top: 50px;
    transition: all 0.5s ease-in-out;
}

.team .member:hover {
    transform: scale(1.1);
}

.iContainer {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    background: #242830;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 10px;
}

.iContainer i {
    color: #FFF;
    text-align: center;
}

.iContainer:hover {
    background: #3dc9b3;
}

.team .member a,
.contact a{
    text-decoration: none;
}


/* End Team */


/* Start Subscribe */

.subscribe {
    height: 450px;
    background: url('../image/sub.png') fixed 0;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.subscribe i {
    color: #FFF;
    margin-top: 130px;
}

.subscribe h1 {
    font-weight: 300;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.subscribe input[type="email"] {
    width: 350px;
    height: 67px;
    background: none;
    border: 3px solid #FFF;
    outline: inherit;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

.subscribe form {
    margin-top: 40px;
}

.subscribe input::placeholder {
    color: #FFF;
}

.subscribe input[type="submit"] {
    border: none;
    background: #3dc9b3;
    color: #FFF;
    height: 67px;
    padding: 0 20px;
    margin-left: 0px;
    position: relative;
    top: -1px;
    cursor: pointer;
}


/* End Subscribe */

.contact {
    height: 670px;
    text-align: center;
    overflow: hidden;
    background: #f3f5f8;
}

.contact .methodC {
    float: left;
    width: 33.33333%;
    margin-top:70px;
}

.contact .method {
    height: 180px;
    width:90%;
    background: #FFF;
    box-sizing: border-box;
    margin:auto;
}

.contact .method i {
    margin-top: 30px;
}

.contact .method h2 {
    color: #3dc9b3;
    font-weight: 500;
    text-transform: uppercase;
}

.contact .method h3 {
    color: #8c9398;
}
.contact .iContainer {
    margin-top:100px;
}
/* End Contact */

/* Start Footer */
.footer {
    background:#242830;
    overflow:hidden;
}
.footer ul {
    list-style: none;
    margin:0;
    color:#FFF;
}
.footer ul li {
    float:left;
    padding:50px 5px;
}
.footer ul li a {
    text-decoration:none;
    color:#a1a9b0;
    font-weight: 500;
}
.footer span {
    float:right;
    padding :50px;
    color:#FFF;
}
.footer a {
    color:#a1a9b0;
    text-decoration: none;
}