/* Start Main Rules */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

.clearfix {
    clear: both;
}

.active {
    border: 3px solid #4bcaff;
    color: #4bcaff;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}


/* End Main Rules */


/* Start Header */

.header {
    height: 652px;
    background-image: url("../images/header.png");
}


/* Start Navbar */

.navbar {
    height: 150px;
    background-color: rgba(53, 63, 70, 0.85);
}

.navbar .name {
    float: left;
    width: 55%;
}

.navbar .menus {
    float: left;
    width: 44%;
    margin-top: 55px;
}

.navbar h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #FFF;
}

.navbar span {
    color: #4bcaff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.navbar ul li {
    display: inline-block;
    padding: 10px;
    font-size: 18px
}

.navbar .menus a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    border: 3px solid transparent;
    padding: 5px
}

.navbar .menus a:hover {
    border: 3px solid #4bcaff;
    color: #4bcaff
}

.header .slider {
    text-align: center;
    margin-top: 185px;
}

.header .slider h1 {
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFF;
    background-color: rgba(53, 63, 70, 0.85);
    line-height: 60px;
    padding: 5px 15px;
    font-weight: normal;
}


/* Start Services */

.services {
    height: 405px;
    background-color: #4bcaff;
    overflow: hidden;
}

.services h1 {
    font-weight: normal;
    color: #FFF;
    margin-top: 50px;
}

.services span {
    border-bottom: 2px solid #FFF;
}

.services .service {
    width: 25%;
    float: left;
    margin-top: 20px;
    padding-right: 20px
}

.services .service h2 {
    color: #FFF;
}

.services .service p {
    color: #FFF;
}


/* End Services */


/* Start Portfolio */

.portfolio {
    height: 845px;
    overflow: hidden;
}

.portfolio .name {
    float: left;
    width: 50%;
}

.portfolio .name span {
    border-bottom: 2px solid #000;
}

.portfolio .name h1 {
    margin-top: 40px;
}

.portfolio .filter {
    margin-top: 52px;
    float: left;
    width: 50%;
}

.portfolio .filter ul {
    list-style: none;
}

.portfolio .filter ul li {
    padding: 10px;
    margin-left: 20px;
    display: inline;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.portfolio .filter ul li:hover {
    border: 3px solid #4bcaff;
    color: #4bcaff;
    cursor: pointer;
}

.portfolio .projects img {
    float: left;
    width: 25%;
    padding: 10px
}


/* End Portfolio */


/* Start Default Section */

.section {
    height: 475px;
    background-color: #515f67;
}

.section .default {
    float: left;
    width: 50%;
    margin-top: 30px;
}

.section .default h1 {
    color: #FFF;
    font-weight: normal;
    margin-bottom: 30px;
}

.section .default p {
    color: #FFF;
    max-width: 400px;
}

.section .default span {
    border-bottom: 2px solid #FFF;
}

.section .default button {
    background-color: transparent;
    border: 3px solid #FFF;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.section .video {
    float: left;
    width: 50%;
    margin-top: 51px;
}


/* End Default Section */


/* Start Twitter */

.twitter {
    height: 305px;
    background-color: #4bcaff;
}

.twitter .icon {
    float: right;
    margin-top: 50px;
    color: #FFF;
}

.twitter .name {
    float: left;
    margin-top: 50px
}

.twitter .name h1 {
    color: #FFF;
    font-weight: normal;
    margin: 0;
}

.twitter .name .spanhead {
    border-bottom: 2px solid #FFF;
}

.twitter .name p {
    font-size: 25px;
    color: #FFF;
}

.twitter .name h3 {
    font-weight: normal;
    color: #FFF;
    font-size: 25px;
}

.twitter .name .spanbold {
    font-weight: bold;
}


/* End Twitter */


/* Start Whois */

.whois {
    height: 505px;
    background: url("../images/bg-whois.png") no-repeat center;
    overflow: hidden;
}

.whois .left {
    float: left;
    width: 50%;
    margin-top: 70px
}

.whois span {
    border-bottom: 2px solid #FFF;
}

.whois .left h1 {
    color: #FFF;
    font-weight: normal;
    margin: 0;
}

.whois .left p,
.whois .right p {
    color: #FFF;
    line-height: 30px;
    max-width: 500px
}

.whois .right {
    float: left;
    width: 50%;
    margin-top: 107px;
}

.whois .right i {
    color: #FFF;
    border: 3px solid #FFF;
    padding: 10px;
    margin-right: 8px
}

.testimonials {
    height: 360px;
}

.testimonials .icon {
    float: right;
    margin-top: 70px;
    color: #000;
}

.testimonials .info {
    float: left;
    margin-top: 70px;
    width: 90%;
}

.testimonials .info h1 {
    color: #000;
    font-weight: normal;
    margin: 0;
}

.testimonials .info span {
    border-bottom: 2px solid #000;
}

.testimonials .info p {
    font-size: 25px;
    color: #000;
}

.testimonials .info h3 {
    font-weight: normal;
    color: #000;
    font-size: 25px;
}

.testimonials .info h3 {
    font-weight: bold;
    color: #4bcaff;
    font-size: 20px;
}


/* End Testimonals */


/* Start Contact */

.contact {
    height: 815px;
    background: url("../images/bg-contact.png") no-repeat center;
    overflow: hidden;
}

.contact .form {
    margin-top: 80px;
    float: left;
    width: 50%
}

.contact .form h1 {
    font-weight: normal;
    color: #FFF;
    font-size: 50px;
}

.contact .form span {
    border-bottom: 2px solid #FFF;
}

.contact .form h4 {
    margin-bottom: 3px;
    color: #FFF;
}

.contact .form input {
    background: transparent;
    border: 0;
    border: 3px solid #FFF;
    width: 470px;
    height: 60px;
    color: #FFF;
    font-size: 20px;
    padding-left: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contact .form textarea {
    width: 1170px;
    height: 220px;
    position: relative;
    background: transparent;
    border: 0;
    border: 3px solid #FFF;
    color: #FFF;
    font-size: 20px;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contact .info {
    float: left;
    width: 50%;
    margin-top: 205px
}

.contact .info p {
    color: #FFF;
    line-height: 25px;
    font-weight: bold;
}

.contact .form input[type="submit"] {
    width: 370px;
    height: 60px;
    margin-top: 20px;
    background-color: #4bcaff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.footer {
    height: 170px;
    background-color: #353f47;
    overflow: hidden;
}

.footer .left {
    float: left;
    width: 80%;
}

.footer .left ul {
    list-style: none;
}

.footer .left ul li {
    float: left;
    padding: 10px;
    color: #515f67;
}

.footer .right {
    float: right;
}

.footer .right h4 {
    color: #515f67;
    margin: 0;
    padding: 0;
    margin-top:13px
}

.footer .right,
.footer .left {
    margin-top: 80px
}
